Package: wfplug-wlist-dbgsym
Source: wfplug-wlist
Version: 0.4
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Simon Long <simon@raspberrypi.com>
Installed-Size: 93
Depends: wfplug-wlist (= 0.4)
Section: debug
Priority: optional
Description: debug symbols for wfplug-wlist
Build-Ids: 5b00fe91a879f3241150ed2bb89c4200c7526eee
